<div class="body">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 style="margin: 0px;" class="card-title text-center">Sign Into Penguin Messenger</h5>
            <img style="margin-top: 15px" class="mx-auto d-block" src="assets/12545216.png" width="150" height="150">
            <form class="form-signin" [formGroup]="loginForm">
              <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="button" (click)="tryFacebook()">Sign in with Facebook</button>
              <button class="btn btn-lg btn-github btn-block text-uppercase" type="button" (click)="tryGithub()">Sign in with Github</button>
              <button class="btn btn-lg btn-google btn-block text-uppercase" type="button" (click)="tryGoogle()">Sign in with Google</button>
              <button class="btn btn-lg btn-twitter btn-block text-uppercase" type="button" (click)="tryTwitter()">Sign in with Twitter</button>
<!--              <hr class="my-4">-->
<!--              <button class="btn btn-lg btn-signup btn-block text-uppercase" type="button" routerLink="/sign-up">Don't have an account, sign up</button>-->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



