<body class="text-center">
<form class="form-signin" [formGroup]="loginForm">
  <img class="mb-4" src="/assets/12545216.png" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Penguin Messenger</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input (keydown.enter)="tryLogin()" type="email" id="inputEmail" class="form-control" formControlName="email" placeholder="Email address" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input (keydown.enter)="tryLogin()" type="password" id="inputPassword" class="form-control" formControlName="password" placeholder="Password" required>
  <div class="checkbox mb-3">
    <label class="text-center" (click)="tryForgot()" style="cursor: pointer; margin-top: 8px; margin-bottom: 0px">Forgot Password?</label>
  </div>
  <button class="btn btn-lg btn-warning btn-block" (click)="tryLogin()">Sign In</button>
  <div class="checkbox mb-3">
    <label class="text-center" (click)="trySignUp()" style="cursor: pointer; margin-top: 18px; margin-bottom: 0px">Don't have an account? Sign up!</label>
  </div>
</form>
</body>
