<div class="body">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 style="margin: 0px;" class="card-title text-center">Sign Into Penguin Messenger</h5>
            <img style="margin-top: 15px" class="mx-auto d-block" src="assets/12545216.png" width="150" height="150">
            <form class="form-signin" [formGroup]="loginForm">
              <label>Email address</label>
              <div class="form-label-group">
                <input style="height: 53px; padding-left: 10px" type="email" formControlName="email" id="inputEmail" class="form-control" #userName required autofocus>
              </div>
              <label>Password</label>
              <div class="form-label-group">
                <input style="height: 53px; padding-left: 10px" type="password" formControlName="password" id="inputPassword" class="form-control" #userPassword required>
              </div>

              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" (click)="tryLogin(userName.value, userPassword.value)">Sign in</button>
              <hr class="my-4">
              <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit" (click)="tryRegister(userName.value, userPassword.value)">Sign up</button>
              <div class="text-center" >
                <label class="text-center" routerLink="/forgot-password" style="margin-top: 8px; margin-bottom: 0px">Forgot Password?</label>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



