<form [formGroup]="angForm">
  <div class="form-group">
    <label>Account Email Address</label>
    <input readonly type="email" class="form-control" aria-describedby="emailHelp" formControlName="Email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label>Account User ID</label>
    <input readonly type="email" class="form-control" aria-describedby="emailHelp" formControlName="UID">
  </div>
  <div class="form-group">
    <label>Display Name</label>
    <input type="email" class="form-control" formControlName="DisplayName" placeholder="Enter display name.">
  </div>
  <label>Profile Picture</label>
  <div class="input-group mb-3">
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="inputGroupFile02">
      <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose file</label>
    </div>
    <div class="input-group-append">
      <span class="input-group-text" id="inputGroupFileAddon02">Upload</span>
    </div>
  </div>
  <button type="button" class="btn btn-primary" (click)="submitChanges()">Submit</button>
</form>
