<div class="body">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 style="margin: 0px;" class="card-title text-center">Penguin Messenger Thanks you For Registering</h5>
            <img class="mx-auto d-block" src="assets/12545216.png" width="150" height="150">
            <div class="form-signin" *ngIf="authService.userData as user">

              <label class="text-center">We have sent a confirmation email to <strong>{{user.email}}</strong></label>

              <label class="text-center">Please check your email and click on the link to verfiy your email address</label>


              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" (click)="goToSignIn()">Sign in</button>
              <hr class="my-4">
              <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit" (click)="authService.SendVerificationMail()">Resend Verificaiton Email</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
