<body class="text-center">
<form class="form-signin">
  <img class="mb-4" src="/assets/12545216.png" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Penguin Messenger</h1>
  <div class="checkbox mb-3" *ngIf="authService.user as user">
    <label class="text-center" style="margin-top: 8px; margin-bottom: 0px">We have sent a confirmation email to <strong>{{user.email}}</strong></label>
  </div>
  <button class="btn btn-lg btn-warning btn-block" (click)="tryLogin()">Sign in</button>
  <div class="checkbox mb-3">
    <label class="text-center" (click)="authService.SendVerificationMail()" style="cursor: pointer; margin-top: 18px; margin-bottom: 0px">Resend verification email?</label>
  </div>
</form>
</body>
