// --------------------------- Sign In Layout -----------------------------

//.my-container {
//  width: 100vw;
//  height: 100vh;
//  display: grid;
//  grid-template-columns: auto auto auto;
//  grid-template-rows: 56px auto 56px;
//  grid-template-areas:
//    'header header header'
//    'main main main'
//    'footer footer footer';
//}
//
//.my-header {
//  grid-area: header;
//}
//.my-footer {
//  grid-area: footer;
//}
//.my-main {
//  grid-area: main;
//}

.my-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 56px auto 56px;
  grid-template-areas:
    'header header header'
    'main main main'
    'footer footer footer';
}

.my-header {
  grid-area: header;
}
.my-footer {
  grid-area: footer;
}
.my-main {
  align-content: center;
  display: grid;
  grid-area: main;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    'app-1';
}
.app-main-1 {
  grid-area: app-1;
}

//

// --------------------------- Standard Application Layout -----------------------------


.app-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 112px auto 56px;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

.app-header {
  grid-area: header;
}
.app-footer {
  grid-area: footer;
}
.app-main {
  align-content: center;
  display: grid;
  grid-area: main;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    'app-1';
}
.app-main-1 {
  background-color: white;
  grid-area: app-1;
}

// --------------------------- Standard Application Layout -----------------------------


//.app-container {
//  width: 100vw;
//  height: 100vh;
//  display: grid;
//  grid-template-columns: auto;
//  grid-template-rows: 112px auto 56px;
//  grid-template-areas:
//    'header'
//    'main'
//    'footer';
//}
//
//.app-header {
//  grid-area: header;
//}
//.app-footer {
//  grid-area: footer;
//}
//.app-main {
//  grid-area: main;
//}

// --------------------------- Tools Layout -----------------------------


.tool-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 112px auto 56px;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

.tool-header {
  grid-area: header;
}
.tool-footer {
  grid-area: footer;
}
.tool-main {
  align-content: center;
  justify-content: center;
  background-color: #868e96;
  grid-area: main;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 40% 40%;
  grid-template-rows: 40% 40%;
  grid-template-areas:
    'tool-1 tool-2'
    'tool-3 tool-4';
}
.tool-main-1 {
  align-content: center;
  justify-content: center;
  display: grid;
  background-color: #ba8b00;
  grid-area: tool-1;
}
.tool-main-2 {
  align-content: center;
  justify-content: center;
  display: grid;
  background-color: #b21f2d;
  grid-area: tool-2;
}
.tool-main-3 {
  align-content: center;
  justify-content: center;
  display: grid;
  background-color: #b3d7ff;
  grid-area: tool-3;
}
.tool-main-4 {
  align-content: center;
  justify-content: center;
  display: grid;
  background-color: #3b5998;
  grid-area: tool-4;
}

@media (max-width: 480px) {
  .tool-main {
    grid-template-columns: 80%;
    grid-template-rows: 20% 20% 20% 20%;
    grid-template-areas:
      'tool-1'
      'tool-2'
      'tool-3'
      'tool-4';
  }
}

// --------------------------- Chats Layout -----------------------------


.chat-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 112px auto 56px;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

.chat-header {
  grid-area: header;
}
.chat-footer {
  grid-area: footer;
}
.chat-main {
  grid-area: main;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: auto;
  grid-template-areas:
    'tool-1 tool-2';
}
.chat-main-1 {
  //align-content: center;
  //justify-content: center;
  //display: grid;
  background-color: #383d41;
  grid-area: tool-1;
}
.chat-main-2 {
  //align-content: center;
  //justify-content: center;
  //display: grid;
  background-color: #b21f2d;
  grid-area: tool-2;
}
@media (max-width: 480px) {
  .chat-main {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
      'tool-1'
      'tool-2';
  }
}

//

// --------------------------- Profile Layout -----------------------------


.prof-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 112px auto 56px;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

.prof-header {
  grid-area: header;
}
.prof-footer {
  grid-area: footer;
}
.prof-main {
  grid-area: main;
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-areas:
    '. . . . . . . . . .'
    '. . . . . . . . . .'
    '. . . . . . . . . .'
    '. . tool-1 tool-1 tool-2 tool-2 tool-2 tool-2 . .'
    '. . tool-1 tool-1 tool-2 tool-2 tool-2 tool-2 . .'
    '. . tool-1 tool-1 tool-2 tool-2 tool-2 tool-2 . .'
    '. . tool-1 tool-1 tool-2 tool-2 tool-2 tool-2 . .'
    '. . . . . . . . . .'
    '. . . . . . . . . .'
    '. . . . . . . . . .';
}
.prof-main-1 {
  background-color: #007bff;
  grid-area: tool-1;
}
.prof-main-2 {
  background-color: #b21f2d;
  grid-area: tool-2;
}
@media (max-width: 600px) {
  .prof-main {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
      'tool-1'
      'tool-2';
  }
}
@media (min-width: 601px) and (max-width: 1100px) {
  .prof-main {
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas:
      '. tool-1 tool-1 .'
      '. tool-1 tool-1 .'
      '. tool-2 tool-2 .'
      '. tool-2 tool-2 .'
      '. tool-2 tool-2 .';
  }
}


//320px
//480px
//600px
//768px
//900px
//1024px
//1200px

