<nav class="navbar sticky-top navbar-dark bg-primary navbar-expand-md navbar-no-bg">
  <div class="container-fluid">
    <div class="navbar-brand" style="color: white" (click)="openModal(template)">
      <img src="{{ photoURL }}" width="30" height="30" class="d-inline-block align-top rounded-circle">
      {{ displayName }}
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link scroll-link" (click)="openModal(template)">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link scroll-link" style="color: gold" (click)="tryLogout()">Sign Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<ng-template #template>
  <app-modal-profile></app-modal-profile>
</ng-template>
