<div class="chat-container">
  <div class="chat-header">

    <app-header></app-header>
    <app-header-user></app-header-user>

  </div>
  <div class="chat-main">

    <div id="frame" style="margin: 0px;">
      <div id="sidepanel">
        <div id="contacts">
          <!-- THIS IS THE ACTIVE CONVERSATIONS OF THE ACTIVE USER -->
          <div *ngIf="!SelectNewConversation">
            <ul style="list-style: none; padding-left: 0px">
              <div *ngFor="let conversation of conversations">
                <li class="contact" [ngClass]="{'active': CurrentConversation.id === conversation.id}" (click)="SetSelectedConversation(conversation.id, conversation)">
                  <div class="wrap">
                    <img src="{{ getChatPhoto(conversation.isgroupchat, conversation.groupPhotoURL, conversation.participants) }}"/>
                    <div class="meta">
                      <p class="name">{{ getChatName(conversation.isgroupchat, conversation.name, conversation.participants) }}</p>
                      <p class="preview">{{ conversation.lastsentmessage }}</p>
                    </div>
                  </div>
                </li>
              </div>
            </ul>
          </div>
          <!-- THIS IS THE CREATE NEW CONVERSATIONS FOR THE ACTIVE USER -->
          <div *ngIf="SelectNewConversation && !ShowCreateGroupConversation">
            <ul style="list-style: none; padding-left: 0px">
              <li class="contact active" (click)="ShowCreateNewGroupConversation()">
                <div class="wrap">
                  <img src="/assets/loadingProfile.png"/>
                  <div class="meta">
                    <p class="name">Create Group Chat</p>
                    <p class="preview">Group Conversation</p>
                  </div>
                </div>
              </li>
              <div *ngFor="let user of users">
                <li class="contact" (click)="CreateNewDirectConversation(user.uid)" *ngIf="user.uid !== activeUser.uid">
                  <div class="wrap">
                    <img src="{{ getSenderImage(user.uid) }}"/>
                    <div class="meta">
                      <p class="name">{{ getSenderName(user.uid) }}</p>
                      <p class="preview">Create Direct Conversation</p>
                    </div>
                  </div>
                </li>
              </div>
            </ul>
          </div>
          <!-- THIS IS THE CREATE NEW GROUP CONVERSATIONS FOR THE ACTIVE USER -->
          <form [formGroup]="GroupForm">
            <div *ngIf="ShowCreateGroupConversation">
              <ul style="list-style: none; padding-left: 0px">
                <li class="contact active">
                  <div class="wrap">
                    <img src="/assets/loadingProfile.png"/>
                    <div class="meta">
                      <input class="name" autofocus style="width: 80%" formControlName="GroupName"/>
                      <p class="preview">Enter Group Chat Name</p>
                    </div>
                  </div>
                </li>
                <div *ngFor="let user of users; let i = index">
                  <li class="contact" *ngIf="user.uid !== activeUser.uid">
                    <div class="wrap">
                      <input type="checkbox" class="form-checkbox" (change)="onCheckChange($event, user.uid)">
                      <img src="{{ getSenderImage(user.uid) }}"/>
                      <div class="meta">
                        <p class="name">{{ getSenderName(user.uid) }}</p>
                        <p class="preview"> Add User To Chat</p>
                      </div>
                    </div>
                  </li>
                </div>
              </ul>
            </div>
          </form>
        </div>
        <div id="bottom-bar">
          <!-- THIS IS THE BUTtON CREATE NEW CONVERSATIONS FOR THE ACTIVE USER -->
          <div *ngIf="!SelectNewConversation">
            <button (click)="ShowSelectNewConversation()" id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Start New Chat</span></button>
          </div>
          <!-- THIS IS THE BUTTON TO RETURN TO ACTIVE CONVERSATIONS FOR THE ACTIVE USER -->
          <div *ngIf="SelectNewConversation && !ShowCreateGroupConversation">
            <button (click)="HideSelectNewConversation()"><i class="fas fa-arrow-left fa-fw" aria-hidden="true"></i> <span>Back To Conversations</span></button>
          </div>
          <!-- THIS IS THE BUTTON TO CREATE THE GROUP CHAT -->
          <div *ngIf="ShowCreateGroupConversation">
            <button (click)="CreateNewGroupConversation()"><i class="fas fa-fw" [ngClass]="(IsCreateGroupIcon === true)?'fa-comment':'fa-arrow-left'" aria-hidden="true"></i> <span>{{ GroupCreationButton }}</span></button>
          </div>
        </div>
      </div>
      <div class="content">
        <div *ngIf="ChatIsSelected">
          <div class="contact-profile">
            <img src="{{ConversationPhoto}}" >
            <p>{{ ConversationName }}</p>
          </div>
          <div #scrollMe [scrollTop]="scrollMe.scrollHeight" class="messages" style="margin: 0px">
            <ul *ngFor="let message of Messages">
              <li [ngClass]="(message.uid == activeUser.uid)?'replies':'sent'">
                <img src="{{ getSenderImage(message.uid)}}"/>
                <p>
                  <b class="name-of-user">{{getSenderName(message.uid)}}</b><br>
                  <span style="font-size: smaller">{{ getGoodDate(message.datetime) | date:'dd MMM hh:mm' }}</span>
                  <markdown [data]="newLine"></markdown>
                  <markdown [data]="message.message"></markdown>
                </p>
              </li>
            </ul>
          </div>
          <div class="message-input" style="background: white">
            <div class="wrap">
              <input (keydown.enter)="sendMessage()" type="text" [(ngModel)]="msgValue" placeholder="Write your message..." />
              <button (click)="sendMessage()" class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
              <button (click)="openModal(template)" style="background: #0056B2;:hover {background: #435f7a}"><i class="fa fa-paperclip" aria-hidden="true"></i></button>
              <ng-template #template id="myModal">
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Attachments</h4>
                </div>
                <div class="modal-body">
                  <div class="container">
                    <div class="row">
                      <div class="col-sm attachedMedia">
                        <a href="#">
                          <img src="assets/Images.png" class="center">Pictures
                        </a>
                      </div>
                      <div class="col-sm attachedMedia">
                        <a href="#">
                          <img src="assets/Video.png">Videos
                        </a>
                      </div>
                      <div class="col-sm attachedMedia">
                        <a href="#">
                          <img src="assets/Video.png">Voice Notes
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
        <div *ngIf="!ChatIsSelected" class="start-center">
          <div class="start-center">
            <img src='assets/12545216.png'>
          </div>
          <div class="start-center">
            <H4>Select or create a new chat.</H4>
          </div>

        </div>

      </div>
    </div>

  </div>
  <div class="chat-footer">

    <app-footer></app-footer>

  </div>
</div>



