<div class="chat-container">
  <div class="chat-header">

    <app-header></app-header>
    <app-header-user></app-header-user>

  </div>
  <div class="chat-main">

    <div id="frame" style="margin: 0px;">
      <div id="sidepanel">
        <div id="contacts">
          <ul style="list-style: none; padding-left: 0px">
            <li class="contact active" (click)="SetPublicConversation()">
              <div class="wrap">
                <img src="/assets/loadingProfile.png"/>
                <div class="meta">
                  <p class="name">Public Channel</p>
                  <p class="preview">Channel available to all users.</p>
                </div>
              </div>
            </li>
            <div *ngFor="let conversation of conversations">
              <li class="contact" (click)="SetSelectedConversation(conversation.id, conversation)">
                <div class="wrap">
                  <img src="/assets/loadingProfile.png"/>
                  <div class="meta">
                    <p class="name">{{ getChatName(conversation.isgroupchat, conversation.name, conversation.participants) }}</p>
                    <p class="preview">{{ getChatType(conversation.isgroupchat) }}</p>
                  </div>
                </div>
              </li>
            </div>
          </ul>
        </div>
        <div id="bottom-bar">
          <button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Start New Chat</span></button>
        </div>
      </div>
      <div class="content">
        <div class="contact-profile">
          <img src="/assets/loadingProfile.png"/>
          <p>{{ ConversationName }}</p>
        </div>
        <div #scrollMe [scrollTop]="scrollMe.scrollHeight" class="messages" style="margin: 0px">
          <ul *ngFor="let message of Messages">
            <li [ngClass]="(message.uid == activeUser.uid)?'replies':'sent'">
<!--              Database needs to store UID within userdata-->
              <img src="{{ getSenderImage(message.uid)}}"/>
              <p>{{ getGoodDate(message.datetime) | date:'shortTime' }}: {{ message.message }}</p>
            </li>
          </ul>
        </div>
        <div class="message-input" style="background: white">
          <div class="wrap">
            <input type="text" [(ngModel)]="msgValue" placeholder="Write your message..." />
            <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
            <button (click)="sendMessage()" class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="chat-footer">

    <app-footer></app-footer>

  </div>
</div>



