<div class="tool-container">
  <div class="tool-header">

    <app-header></app-header>
    <app-header-user></app-header-user>

  </div>
  <div class="tool-main">

    <div class="tool-main-1">
      <a routerLink="/profile">
        <h1>Video Chat</h1>
      </a>
    </div>
    <div class="tool-main-2">
      <a routerLink="/profile">
        <h1>Terminal</h1>
      </a>
    </div>
    <div class="tool-main-3">
      <a routerLink="/profile">
        <h1>Device Power Utilities</h1>
      </a>
    </div>
    <div class="tool-main-4">
      <a routerLink="/profile" style="text-align: center">
        <img src="/assets/tools/phone.png" width="120" height="120">
        <h1>Call</h1>
      </a>
    </div>

  </div>
  <div class="tool-footer">

    <app-footer></app-footer>

  </div>
</div>


