<div class="tool-container">
  <div class="tool-header">

    <app-header></app-header>
    <app-header-user></app-header-user>

  </div>
  <div class="tool-main">

    <div class="tool-main-1 hovering" routerLink="/profile">
      <p class="text-uppercase">touch</p>
    </div>
    <div class="tool-main-2 hovering">
      <p class="text-uppercase">me</p>
    </div>
    <div class="tool-main-3 hovering">
      <p class="text-uppercase">INNAPROPRIATELY</p>
    </div>
    <div class="tool-main-4 hovering">
      <p class="text-uppercase">PLEASE</p>
    </div>

  </div>
  <div class="tool-footer">

    <app-footer></app-footer>

  </div>
</div>


