// --------------------------- Tools Appearance -----------------------------

p {
  color: white;
}
.tool-main-1:hover{
  box-shadow: 0 0 10px #d39e0b;
}
.tool-main-2:hover{
  box-shadow: 0 0 10px #d39e0b;;
}
.tool-main-3:hover{
  box-shadow: 0 0 10px #d39e0b;;
}
.tool-main-4:hover{
  box-shadow: 0 0 10px #d39e0b;;
}

// --------------------------- Tools Layout -----------------------------

.tool-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 112px auto 56px;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

.tool-header {
  grid-area: header;
}
.tool-footer {
  grid-area: footer;
}
.tool-main {
  align-content: center;
  justify-content: center;
  background-color: #4b4b4b;
  grid-area: main;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 40% 40%;
  grid-template-rows: 40% 40%;
  grid-template-areas:
    'tool-1 tool-2'
    'tool-3 tool-4';
}
.tool-main-1 {
  align-content: center;
  justify-content: center;
  display: grid;
  background-color: blueviolet;
  //border-style: solid;
  border-radius: 10px;
  grid-area: tool-1;
}
.tool-main-2 {
  align-content: center;
  justify-content: center;
  display: grid;
  background-color: lightseagreen;
  //border-style: solid;
  border-radius: 10px;
  grid-area: tool-2;
}
.tool-main-3 {
  align-content: center;
  justify-content: center;
  display: grid;
  background-color: #b3d7ff;
  //border-style: solid;
  border-radius: 10px;
  grid-area: tool-3;
}
.tool-main-4 {
  align-content: center;
  justify-content: center;
  display: grid;
  background-color: #3b5998;
  //border-style: solid;
  border-radius: 10px;
  grid-area: tool-4;
}

@media (max-width: 480px) {
  .tool-main {
    grid-template-columns: 80%;
    grid-template-rows: 20% 20% 20% 20%;
    grid-template-areas:
      'tool-1'
      'tool-2'
      'tool-3'
      'tool-4';
  }
}
