<div class="app-container">
  <div class="app-header">

    <app-header></app-header>
    <app-header-user></app-header-user>

  </div>
  <div class="app-main">

    <div class="row">
      <div class="col-2">
        <div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action active" id="list-machine-command-list" data-toggle="list" href="#list-machine-command" role="tab" aria-controls="home">Commands to Main Machine</a>
          <a class="list-group-item list-group-item-action" id="list-video-call-list" data-toggle="list" href="#list-video-call" role="tab" aria-controls="profile">Video Call (?)</a>
          <a class="list-group-item list-group-item-action" id="list-theme-list" data-toggle="list" href="#list-theme" role="tab" aria-controls="messages">Themes</a>
          <a class="list-group-item list-group-item-action" id="list-notification-list" data-toggle="list" href="#list-notification" role="tab" aria-controls="settings">Notifications</a>
        </div>
      </div>
      <div class="col-8">
        <div class="tab-content border rounded" id="nav-tabContent" >
          <div class="tab-pane fade show active" id="list-machine-command" role="tabpanel" aria-labelledby="list-machine-command-list"> The FitnessGram™ Pacer Test is a multistage aerobic capacity test that progressively
            gets more difficult as it continues. The 20 meter pacer test will begin in 30 seconds. Line up at the start. The running speed starts slowly,
            but gets faster each minute after you hear this signal. [beep] A single lap should be completed each time you hear this sound. [ding]
            Remember to run in a straight line, and run as long as possible. The second time you fail to complete a lap before the sound, your test is over.
            The test will begin on the word start. On your mark, get ready, start.</div>
          <div class="tab-pane fade" id="list-video-call" role="tabpanel" aria-labelledby="list-video-call-list">Sweet</div>
          <div class="tab-pane fade" id="list-theme" role="tabpanel" aria-labelledby="list-theme-list">Maybe</div>
          <div class="tab-pane fade" id="list-notification" role="tabpanel" aria-labelledby="list-notification-list">I dont know</div>
        </div>
      </div>
    </div>

  </div>
  <div class="app-footer">

    <app-footer></app-footer>

  </div>
</div>


