<div style="background-color: #0056B2; color: white">

  <form [formGroup]="angForm" class="form-horizontal" role="form">

  <div class="form-group" align="center">
    <img src="{{ photoURL }}" class="avatar rounded-circle align-content-center" width="200" height="200" style="margin-top: 15px">
  </div>
    <div class="form-group" align="center" style="margin-bottom: -15px">
      <h5 style="margin-top: 8px; margin-left: 20px">Upload and change new profile picture:</h5>

      <div class="fileUpload btn btn-primary">
        <span>Select Image</span>
        <input type="file" class="upload" (change)="fileChangeEvent($event)" />
      </div>
      <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="1 / 1"
        [resizeToWidth]="256"
        format="png"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()"
      ></image-cropper>
      <progress max=100 [value]="(uploadProgress | async)">{{uploadProgress | async}}%</progress>
    </div>


    <div class="form-group">
      <label style="margin-left: 20px; margin-top: 20px;" class=" control-label">Display Name:</label>
      <div class="col-lg-12">
        <input class="form-control" type="text" formControlName="DisplayName">
      </div>
    </div>


    <div class="form-group">
      <label style="margin-left: 20px" class=" control-label">Account Email:</label>
      <div class="col-lg-12">
        <input readonly class="form-control" type="text" formControlName="Email">
      </div>
    </div>


    <div class="form-group" >
      <label style="margin-left: 20px" class="control-label">Account User ID:</label>
      <div class="col-md-12">
        <input readonly class="form-control" type="text" formControlName="UID">
      </div>
    </div>

  </form>

    <div align="center">
      <input type="button" class="btn btn-primary" value="Change Display Name" style=" margin-right: 50px; margin-bottom: 15px" (click)="submitChanges()" >
      <input type="button" class="btn btn-primary" value="Cancel" style="margin-left: 25px; margin-bottom: 15px" (click)="close()">
    </div>

</div>

