<body class="text-center">
<form class="form-signin" [formGroup]="loginForm">
  <img class="mb-4" src="/assets/12545216.png" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Penguin Messenger</h1>

  <label class="sr-only">Display Name</label>
  <input (keydown.enter)="tryRegister()" class="form-control top" formControlName="displayname" placeholder="Display Name" required autofocus>

  <label for="inputEmail" class="sr-only">Email address</label>
  <input (keydown.enter)="tryRegister()" type="email" id="inputEmail" class="form-control middle" formControlName="email" placeholder="Email address" required>

  <label for="inputPassword" class="sr-only">Password</label>
  <input (keydown.enter)="tryRegister()" type="password" id="inputPassword" class="form-control middle" formControlName="password" placeholder="Password" required>

  <label for="inputPassword2" class="sr-only">Password</label>
  <input (keydown.enter)="tryRegister()" type="password" id="inputPassword2" class="form-control bottom" formControlName="password2" placeholder="Password" required>

  <button class="btn btn-lg btn-warning btn-block" (click)="tryRegister()">Sign Up</button>
  <div class="checkbox mb-3">
    <label class="text-center" (click)="trySignIn()" style="cursor: pointer; margin-top: 18px; margin-bottom: 0px">Otherwise, sign in?</label>
  </div>
</form>
</body>
