<div class="sign-container">
  <div class="sign-header">
    <app-header></app-header>
  </div>
  <div class="sign-main">
    <div class="my-card card-body">
      <h5 style="margin: 0px;" class="card-title text-center">Reset Password For Penguin Messenger</h5>
      <img style="margin-top: 15px" class="mx-auto d-block" src="assets/12545216.png" width="150" height="150">
      <form class="form-signin" [formGroup]="forgotForm">
        <label>Email address</label>
        <div class="form-label-group">
          <input style="height: 53px; padding-left: 10px" type="email" formControlName="email" class="form-control" required autofocus>
        </div>
        <button class="btn btn-lg btn-google btn-block text-uppercase" type="button" (click)="tryForgotPassword()">Reset Password</button>
        <div class="text-center" >
          <label class="text-center" routerLink="/" style="margin-top: 8px; margin-bottom: 0px">Sign in?</label>
        </div>
      </form>
    </div>
  </div>
  <div class="sign-footer">
    <app-footer></app-footer>
  </div>
</div>
