.my-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  background: #47ff47;
  grid-template-columns: auto auto auto;
  grid-template-rows: 56px auto 56px;
  grid-template-areas:
    'header header header'
    'main main main'
    'footer footer footer';
}

.my-header {
  grid-area: header;
  background: #ff4b52;
}
.my-footer {
  grid-area: footer;
  background: cornflowerblue;
}
.my-main {
  grid-area: main;
  background: coral;
}
